<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SignUp</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/startmin.css" th:href="@{../css/startmin.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/css/font-awesome.min.css" th:href="@{../css/font-awesome.min.css}" rel="stylesheet"
          type="text/css">

    <script src="../../static/controllerJS/Angular.js" th:src="@{../controllerJS/Angular.js}"></script>
    <script src="../../static/controllerJS/userController.js" th:src="@{../controllerJS/employeeController.js}"></script>

</head>
<body class="login-signup-body">

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default" id="login-body">
                <div class="panel-heading" style="border-radius: 10px;">
                    <h3 class="panel-title">EMPLOYEE SIGNUP</h3>
                </div>
                <div class="panel-body" ng-app="empApp">
                    <form role="form" ng-controller="employeeController" ng-submit="sendData()">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Employee code" type="number" autofocus required
                                       min="1" ng-model="empForm.employeeCode">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Employee name" type="text" autofocus required ng-model="empForm.employeeName">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" type="email" autofocus required ng-model="empForm.employeeEmail" >
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" type="password" autofocus required ng-model="empForm.employeePassword">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password" type="password" autofocus
                                       required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contact" type="text" autofocus required ng-model="empForm.employeeContact">
                            </div>

                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-default btn-block" value="SIGNUP" id="login-btn">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../../static/js/jquery.min.js" th:src="@{../js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../static/js/bootstrap.min.js" th:src="@{../js/bootstrap.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="../../static/js/startmin.js" th:src="@{../js/startmin.js}"></script>

</body>
</html>
