<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{../css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{../css/metisMenu.min.css}" href="../../static/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link th:href="@{../css/timeline.css}" href="../../static/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{../css/startmin.css}" href="../../static/css/startmin.css" rel="stylesheet">
    <link th:href="@{../css/style.css}" href="../../static/css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link th:href="@{../css/font-awesome.min.css}" href="../../static/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Pinyon+Script&family=Rancho&display=swap"
          th:href="@{https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Pinyon+Script&family=Rancho&display=swap}"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
          th:href="@{https://fonts.googleapis.com/css2?family=Sacramento&display=swap}"
          rel="stylesheet">

    <script src="../../static/controllerJS/Angular.js" th:src="@{../controllerJS/Angular.js}"></script>
    <script src="../../static/controllerJS/userController.js" th:src="@{../controllerJS/userController.js}"></script>

</head>
<body>

<div id="wrapper" ng-app="userApp" ng-controller="declarationDocumentController">

    <!-- Navigation -->
    <div th:replace="pannel/fragments/usernavbar :: usernavbar">
    </div>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Declaration Form</h1>
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-12">
                    <form role="form" ng-submit="sendDecDocData()">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Document name:</label>
                                <input type="text" class="form-control" placeholder="Document name" required
                                       ng-model="decForm.documentName">
                            </div>
                            <div class="form-group col-md-4">
                                <label>ABN No:</label>
                                <input type="number" class="form-control" placeholder="ABN number" min="1" required
                                       ng-model="decForm.abnNumber">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Bussiness/Client name:</label>
                                <input type="text" class="form-control" placeholder="Bussiness/Client name" required
                                       ng-model="decForm.bussinessClient">
                            </div>
                            <div class="form-group col-md-4">
                                <label>BSB No:</label>
                                <input type="number" class="form-control" placeholder="BSB number" min="1" required
                                       ng-model="decForm.bsbNumber">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Agent name:</label>
                                <input type="text" class="form-control" placeholder="Agent name" required
                                       ng-model="decForm.agentName">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Document Period month/year:</label>
                                <input type="Date" class="form-control" placeholder="Document Period" required
                                       ng-model="decForm.documentPeriod">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Signature Code:</label>
                                <input type="text" class="form-control" placeholder="Signature code" required
                                       ng-model="decForm.signatureCode">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Paper Declaration Date:</label>
                                <input type="Date" class="form-control" required ng-model="decForm.paperDeclareDate">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Bussiness Address:</label>
                                <input type="text" class="form-control" placeholder="Bussiness Address" required
                                       ng-model="decForm.bussinessAddress">
                            </div>
                            <div ng-show="userObject.isSignSelect == 'Y'" class="form-group col-md-4">
                                <label>Signature</label>
                                <input type="text" class="form-control" id="decSignature" disabled
                                       ng-model="decForm.signature">
                            </div>
                            <div class="form-group col-md-8" ng-if="userObject.isSignSelect == 'N'">
                                <label>Select one time signature:</label>
                                &nbsp &nbsp
                                <!--<label ng-repeat="sign in signatures">
                                    <input name="sign" type="radio" value="{{sign}}" required
                                           ng-model="decForm.signature">{{sign}}
                                    &nbsp
                                </label>-->
                                <label>
                                    <input name="sign" type="radio" value="{{signature}}" required
                                           ng-model="decForm.signature" ng-click="getSignatureFonts(1)">
                                    <span class="p1">{{signature}}</span>
                                    &nbsp
                                </label>
                                <label>
                                    <input name="sign" type="radio" value="{{signature}}" required
                                           ng-model="decForm.signature" ng-click="getSignatureFonts(2)">
                                    <span class="p2">{{signature}}</span>
                                    &nbsp
                                </label>
                                <label>
                                    <input name="sign" type="radio" value="{{signature}}" required
                                           ng-model="decForm.signature" ng-click="getSignatureFonts(3)">
                                    <span class="p3">{{signature}}</span>
                                    &nbsp
                                </label>
                                <label>
                                    <input name="sign" type="radio" value="{{signature}}" required
                                           ng-model="decForm.signature" ng-click="getSignatureFonts(4)">
                                    <span class="p4">{{signature}}</span>
                                    &nbsp
                                </label>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Accept Declaration:</label>
                                <label>
                                    <input name="remember" type="checkbox" required>I declare:
                                </label>
                            </div>
                            <div class="form-group col-md-12"></div>
                            <div class="form-group col-md-1">
                                <input type="submit" class="btn btn-success" value="SUBMIT">
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="../../static/controllerJS/userController.js" th:src="@{../controllerJS/userController.js}"></script>

<!-- jQuery -->
<script src="../../static/js/jquery.min.js" th:src="@{../js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../static/js/bootstrap.min.js" th:src="@{../js/bootstrap.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="../../static/js/startmin.js" th:src="@{../js/startmin.js}"></script>


</body>
</html>
